body {
  /* font-family: 'Raleway', sans-serif; */
  font-family: 'Roboto', sans-serif;
  color: #212121;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: #000000;
  text-decoration: none;
}
.logo-web {
  color: #2196f3;
}
